models
venv_310
data
chroma_db 
app/frontend/static/fonts
app/backend/chroma_db
app/backend/rag_data
app/backend/__pycache__
app/backend/logs
app_kshitij/backend/chroma_db/
app_kshitij/backend/data/
app_kshitij/frontend/static/fonts
app_rag/backend/__pycache__
app_rag/backend/new_rag_data
app_rag/backend/chroma_db
app_home/backend/rag_data
app_home/backend/chroma_db
app_home/backend/logs
app_home/frontend/static/fonts
app_home/frontend/static/css/fonts